<%- include('../layouts/header', {title: 'TODO-List'}) %> <%-
include('../layouts/menu') %>

<section class="section hero is-link is-fullheight-with-navbar">
    <div class="hero-body has-text-centered">
        <div class="container">
            <h1 class="title">TaskLists Manager</h1>
            <h2 class="subtitle">Managing your daily tasks and activities =D</h2>
            <a href="/checklists" class="button is-light is-medium"
                >Check My TaskLists!</a
            >
        </div>
    </div>
</section>

<%- include('../layouts/footer') %>
